.cardHover {
	background: #252525;
	color: white;
	-webkit-box-shadow: 0px 10px 13px -7px #000000,
		5px 5px 15px 5px rgba(0, 0, 0, 0);
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	border-radius: 5px;
	margin: 50px 20px;
	padding: 10px;
	border-bottom: 2px solid #232423;
	transition: 450ms;

	h5 {
		transition: 350ms;
		font-size: 25px;
		font-weight: bold;
		color: white;
	}

	.status-container {
		margin-top: 20px;

		p {
			font-size: 20px;
		}
	}
}

.cardHover:hover {
	color: white;
	text-decoration: none;
	border-bottom: 2px solid #75e016;
	border-radius: 5px 5px 0 0;
}

.cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
