footer {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background: $dark-gray;
	color: $light;
	font-size: 20px;
	padding: 50px 0 0 0;

	h3 {
		margin-bottom: 50px;
		padding: 5px 0;
		border-bottom: 1px solid #75e016;
	}

	b {
		color: #75e016;
	}

	i {
		font-size: 35px;
		color: #75e016;
		transition: 500ms;
	}

	i:hover {
		transform: scale(1.4) rotate(360deg);
	}
}

.copyright {
	display: block;
	width: 100%;
	color: $light-gray;
	background: #101010;
	margin-top: 100px;
	padding: 5px;
	text-align: center;

	h6 {
		font-size: 15px;
	}
}

@media only screen and (max-width: 752px) {
	footer {
		div {
			width: 80%;
			padding: 0 20px;
		}
	}
}
